body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

#home-h1 {
    font-size: 36px;
    color: red;
}

#link {
    display: flex;
    justify-content: space-around;
    border-top: 2px double #ccc;
}

a {
    font-size: 20px;
    /* text-decoration: none; */
}
.cnt{
    font-size: 42px;
    text-align: center;
    color: deeppink;
}

.abt{
    font-size: 40px;
    color: blue;
    text-align: center;
}

footer {
    background-color: red;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 22px;
}
